@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1pknwv');
  src:  url('../fonts/icomoon.eot?1pknwv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1pknwv') format('truetype'),
    url('../fonts/icomoon.woff?1pknwv') format('woff'),
    url('../fonts/icomoon.svg?1pknwv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-information:before {
  content: "\e910";
}
.icon-spinner:before {
  content: "\e919";
}
.icon-business-card:before {
  content: "\e900";
}
.icon-group:before {
  content: "\e901";
}
.icon-social-skype:before {
  content: "\e915";
}
.icon-social-linkedin:before {
  content: "\e914";
}
.icon-social-facebook:before {
  content: "\e911";
}
.icon-social-twitter:before {
  content: "\e912";
}
.icon-clear:before {
  content: "\e91b";
}
.icon-error:before {
  content: "\e918";
}
.icon-refresh:before {
  content: "\e905";
}
.icon-group1:before {
  content: "\e906";
}
.icon-people:before {
  content: "\e906";
}
.icon-video_settings:before {
  content: "\e907";
}
.icon-group_add:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e91a";
}
.icon-share-2:before {
  content: "\e90a";
}
.icon-crosshair:before {
  content: "\e90b";
}
.icon-power:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-headphones:before {
  content: "\e903";
}
.icon-globe:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-trending-up:before {
  content: "\e917";
}
.icon-google:before {
  content: "\e916";
}
.icon-file-word-o:before {
  content: "\e90f";
}
.icon-bell:before {
  content: "\e904";
}
